@import "tailwindcss";
@import 'tailwind-scrollbar-hide/v4';

html,
body,
#app {
    height: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

@custom-variant dark (&:is(.dark *));

@theme inline {
    --font-sans: 'Plus Jakarta Sans', sans-serif;
    --color-foreground: var(--foreground);
}

:root {
    --foreground: oklch(0.145 0 0);
    --cst-bg: #F4F7FD;
    --cst-bg2: #FFFFFF;
    --cst-primary: #635FC7;
    --cst-primary-hover: #A8A4FF;
    --cst-destructive: #EA5555;
    --cst-destructive-hover: #FF9898;
    --cst-lines: #E4EBFA;
    --cst-foreground: #828FA3;
}

.dark {
    --foreground: oklch(0.985 0 0);
    --cst-bg: #20212C;
    --cst-bg2: #2B2C37;
    --cst-lines: #3E3F4E;
}

@layer base {
    body {
        @apply bg-(--cst-bg) text-foreground font-sans;
    }
}

/* TOASTS */
.Vue-Toastification__toast {
    @apply cursor-pointer;
}

/* SUCCESS */
.Vue-Toastification__toast--success.bg-success-toast {
    @apply bg-(--cst-bg) text-foreground;
}

.Vue-Toastification__toast--success .Vue-Toastification__toast-body {
    @apply text-sm font-medium;
}

.Vue-Toastification__toast--success .Vue-Toastification__icon {
    @apply text-green-500;
}

.Vue-Toastification__toast--success .Vue-Toastification__progress-bar {
    @apply bg-green-500;
}

.Vue-Toastification__toast--success .Vue-Toastification__close-button {
    @apply text-(--cst-foreground);
}

/* ERROR */
.Vue-Toastification__toast--error.bg-error-toast {
    @apply bg-(--cst-bg) text-foreground;
}

.Vue-Toastification__toast--error .Vue-Toastification__toast-body {
    @apply text-sm font-medium;
}

.Vue-Toastification__toast--error .Vue-Toastification__icon {
    @apply text-(--cst-destructive);
}

.Vue-Toastification__toast--error .Vue-Toastification__progress-bar {
    @apply bg-(--cst-destructive);
}

.Vue-Toastification__toast--error .Vue-Toastification__close-button {
    @apply text-(--cst-foreground);
}